.footer{
    display: flex;
    justify-content: center;
    height: 10rem;
    width: 100%;
    grid-area: footer;
    background-color: map-get($palette, primary);
    .footer__text{
        display: flex;
        position: absolute;
        margin-top: 8rem;}
    .social{
        display: flex;
        align-self: center;}
    .img__social{
        transition: 30ms;
        &:hover{
        transform: scale(1.07);}
        margin: 0.5rem;
        @include sizes(4rem, 4rem);}}