.paintings{
    width: 1290px;
    justify-content: center;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 150px;}
    .picture{
        align-content: center;
        justify-content: center;
        position: relative;
        :hover > .picture__info{
            display: block;}
        .picture__img{
            grid-area: pic;
            padding: 0;}    
            .pic{
                width: 100%;
                height: 100%;
                object-fit: cover;}
            .picture__info{
                position: absolute;
                bottom: 0;
                display: none;
                width: 100%;
                background: linear-gradient(rgba(255,255,255,0),rgba(0,0,0,1));
                color: white;}}        