.header{
    width: 100%;
    grid-area: header;
    background-color:map-get($palette, primary);
    .logo{
        @include sizes(12rem, 12rem);
    }
    .nav__menu__list{
        display: flex;
        list-style: none;
        justify-content:center;}
        a{
            text-decoration: none;
            padding: 0.5rem 1rem;
            font-size: 1.5rem;
            color: map-get($palette, terciary);
            &:hover{color:#0000008e;}}
        .btn{
            border: solid 2px map-get($palette, terciary);
            border-radius: $radius;
            margin: 1rem;
            display: flex;
            justify-content: space-between;
           }
}