<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" main="IE=edge">
    <meta name="viewport" main="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/translated.css">
    <title>Mar Grasso | Galeria</title>
</head>
<body>
    <div class="main">
        <header class="header">
            <img class="logo" src="../images/logo.jpg" alt="logo">
            <nav class="nav__menu">
                <ul class="nav__menu__list">
                    <li class="nav__menu__item">
                        <button type="menu" class="btn">
                            <a href="../index.html"class="nav__link">home</a>
                        </button>
                    </li>
                    <li class="nav__menu__item">
                        <button type="menu" class="btn">
                            <a href="contacto.html"class="nav__link">contacto</a>
                        </button>
                    </li class="nav__menu__item">
                    <li>
                        <button type="menu" class="btn">
                            <a href="galeria.html"class="nav__link">galeria</a>
                        </button>
                    </li>
                </ul>
            </nav>
        </header>
        <section id="paintings" class="paintings">
            <article class="picture">
               <picture class="picture__img">
                   <img class="pic" src="../images/Aguas del Sol 80x100.jpg" alt="Obra de 80cm x 100cm representando un paisaje de las sierras de Cordoba">
                   <div class="picture__info">
                       <h1 class="picture__title">AGUAS DEL SOL</h1>
                       <h2 class="picture__sizes">80cm x 100 cm</h2>
                       <p class="picture__description">Técnicas mixtas sobre tela. Obra enmarcada.</p>
                   </div>
               </picture>
            </article>
            <article class="picture">
                <picture class="picture__img">
                    <img class="pic" src="../images/Aire 20x20.jpeg" alt="Obra abstracto de tonos frios">
                    <div class="picture__info">
                        <h1 class="picture__title">AIRE</h1>
                        <h2 class="picture__sizes">20cm x 20cm</h2>
                        <p class="picture__description">Técnicas mixtas con acrílico y óleo sobre tela.</p>
                    </div>
                </picture>
            </article>
            <article class="picture">
                <picture class="picture__img">
                    <img class="pic" src="../images/Alegria 40x40.jpeg" alt="Obra que muestra un tucan asomandose entre hojas de monstera">
                    <div class="picture__info">
                        <h1 class="picture__title">ALEGRIA</h1>
                        <h2 class="picture__sizes">40cm x 40cm</h2>
                        <p class="picture__description">Técnicas mixtas sobre madera.</p>
                    </div>
                </picture>
            </article>
            <article class="picture">
                <picture class="picture__img">
                    <img class="pic" src="../images/Bosque Magico I 40x40.jpeg" alt="Obra de un bosque en tonos calidos">
                    <div class="picture__info">
                        <h1 class="picture__title">BOSQUE MAGICO</h1>
                        <h2 class="picture__sizes">40cm x 40cm</h2>
                        <p class="picture__description">Técnica mixta sobre madera.</p>
                    </div>
                </picture>
            </article>
            <article class="picture">
                <picture class="picture__img">
                    <img class="pic" src="../images/Cafeto 30x50 .jpeg" alt="Diptico mostrando hojas de un cafeto">
                    <div class="picture__info">
                        <h1 class="picture__title">CAFETO</h1>
                        <h2 class="picture__sizes">30cm x 50cm</h2>
                        <p class="picture__description">Díptico. Técnicas mixtas sobre madera con collage, acrílico y pintura asfáltica.</p>
                    </div>
                </picture>
            </article>
            <article class="picture">
                <picture class="picture__img">
                    <img class="pic" src="../images/Cosecha I 40x35.jpg" alt="Obra de naturaleza muerta, peras">
                    <div class="picture__info">
                        <h1 class="picture__title">COSECHA I</h1>
                        <h2 class="picture__sizes">40cm x 35cm</h2>
                        <p class="picture__description">Óleo sobre madera.</p>
                    </div>
                </picture>
            </article>
            <article class="picture">
                <picture class="picture__img">
                    <img class="pic" src="../images/Desplegando Sueños 60x80.jpeg" alt="Obra de una mariposa con flores en sus alas">
                    <div class="picture__info">
                        <h1 class="picture__title">DESPLEGANDO SUEÑOS</h1>
                        <h2 class="picture__sizes">60cm x 80cm</h2>
                        <p class="picture__description">Técnicas mixtas sobre tela.</p>
                    </div>
                </picture>
            </article>
            <article class="picture">
                <picture class="picture__img">
                    <img class="pic" src="../images/Encantamiento 70x120.jpg" alt="Obra de un bosque serrano en tonos de amarillo">
                    <div class="picture__info">
                        <h1 class="picture__title">Encantamiento</h1>
                        <h2 class="picture__sizes">70cm x 120cm</h2>
                        <p class="picture__description">Técnicas mixtas sobre tela.</p>
                    </div>
                </picture>
            </article>
            <article class="picture">
                <picture class="picture__img">
                    <img class="pic" src="../images/Esencia 40x40.jpg" alt="Obra de flores de loto con libelulas posadas">
                    <div class="picture__info">
                        <h1 class="picture__title">ESENCIA</h1>
                        <h2 class="picture__sizes">40cm X 40cm</h2>
                        <p class="picture__description">Técnicas mixtas sobre tela.</p>
                    </div>
                </picture>
            </article>
            <article class="picture">
                <picture class="picture__img">
                    <img class="pic" src="../images/Fuego y Aire 50x50.jpeg" alt="Obra de un gorrion sobre una rama en tonos calidos">
                    <div class="picture__info">
                        <h1 class="picture__title">FUEGO Y AIRE</h1>
                        <h2 class="picture__sizes">50cm x 50cm</h2>
                        <p class="picture__description">Técnicas mixtas sobre madera, con acrílico, trabajo en gubia y pintura asfáltica.</p>
                    </div>
                </picture>
            </article>
            <article class="picture">
                <picture class="picture__img">
                    <img class="pic" src="../images/Miradas 50x40.jpeg" alt="Retrato de una mujer en tonos tierra">
                    <div class="picture__info">
                        <h1 class="picture__title">MIRADA</h1>
                        <h2 class="picture__sizes">50cm x 40cm</h2>
                        <p class="picture__description">Técnicas mixtas sobre madera, con acrílico, trabajo en gubia y pintura asfáltica. </p>
                    </div>
                </picture>
            </article>
            <article class="picture">
                <picture class="picture__img">
                    <img class="pic" src="../images/Renacer.jpeg" alt="Obra de plantas en tonos verdes">
                    <div class="picture__info">
                        <h1 class="picture__title">RENACER</h1>
                        <h2 class="picture__sizes">70cm x 70cm</h2>
                        <p class="picture__description">Acrílico sobre tela.</p>
                    </div>
                </picture>
            </article>       
        </section>
        <footer class="footer">
            <section class="social">
                <a href="https://es-la.facebook.com/marinagrassoarte/" class="link__social">
                    <img class="img__social" src="../images/facebook_ico.svg" alt=""></a>
                <a href="https://www.instagram.com/mar.grasso" class="link__social">
                    <img class="img__social" src="../images/instagram_ico.svg" alt=""></a>
                <a href="https://margrasso.empretienda.com.ar/" class="link__social">
                    <img class="img__social" src="../images/shopping_ico.svg" alt=""></a>
            </section>
            <p class="footer__text">copyright 2022 - todos los derechos reservados</p>
        </footer>
    </div>
</body>
</html>